button {
    width: 100%;
    height: 43px;
    border: 0;
    border-radius: 8px;
    margin-top: 8px;
    padding-bottom: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: .125s;
    box-shadow: inset 0 -3px 0px 0px #111;
    font-weight: bold;
    user-select: none;
    font-family: sans-serif;
    background: #E0E0E8;
    word-wrap:break-word;
}

html {
    background: url("");
    background: #E9EAEE;
    background-size: cover;
}

@font-face {
    font-family: 'Segoe UI Symbol';
    src: url('seguisym.ttf') format("truetype");
}

@media (max-width:400px),
print {
    button {
        cursor: auto;
    }
}

button:disabled {
    filter: saturate(.5);
    opacity: .75;
    cursor: not-allowed;
}

button:disabled:active {
    box-shadow: inset 0 -3px 0px 0px #111;
    padding-bottom: 3px;
    height: 43px;
    margin-top: 8px;
    filter: saturate(.5);
}

button:active {
    box-shadow: inset 0 0 0px 0px #111;
    padding-bottom: 0;
    height: 40px;
    margin-top: 11px;
    filter: brightness(.9);
}

@media (min-width:400px),
print {
    button:hover {
        filter: brightness(.9);
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #0000;
    background-clip: content-box;
    background-color: #ababab;
}

input {
    border: 0;
    border-bottom: 1.5px solid #999999;
    background-color: transparent;
    font-size: 18px;
    font-family: sans-serif;
    padding: 10px;
}

:focus-visible {
    outline: 0;
}

input:focus-visible {
    border-bottom: 1.5px solid #5577ff;
}

textarea:focus-visible {
    border: 1.5px solid #5577ff;
}

textarea {
    resize: none;
    background-color: #FFFA;
    white-space: nowrap;
    padding: 8px;
    border: 1.5px solid #999;
    border-radius: 8px;
    font-size: 18px;
}

div.top-info span {
    margin-left: -53px;
    margin-top: 12px;
    display: inline-block;
}

#qsframe {
    border-radius: 8px;
    background: #fff5;
    backdrop-filter: blur(20px);
    border: 0;
    padding: 20px;
    font-size: 20px;
    user-select: none;
    box-shadow: 0 0 2px 0 #0008;
    margin: 15px;
    margin-top: 20px;
    max-height: 120px;
    overflow: auto;
    word-wrap: break-word;
}

div.top-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

#submitbt {
    background: #0067C0;
    border-radius: 8px;
    height: 40px;
    width: 90px;
    float: right;
    color: white;
    margin-top: 20px;
    font-size: 20px;
}

#submitbt:active {
    height: 36px;
    margin-top: 24px;
}

#btframe {
    border-radius: 8px;
    background: #fff5;
    backdrop-filter: blur(20px);
    border: 0;
    padding: 20px;
    padding-top: 12px;
    font-size: 25px;
    user-select: none;
    margin: 15px;
    box-shadow: 0 0 2px 0 #0008;
    max-height: 290px;
    overflow: auto;
}

main {
    height: calc(100vh - 140px);
    overflow: auto;
}

button.selected {
    box-shadow: inset 0 0 0px 0px #111;
    padding-bottom: 0;
    height: 40px;
    margin-top: 11px;
    color: #FFF;
    background: #47C;
}

div.block {
    margin: 20px;
    padding: 20px;
    margin-right: 0;
    width: calc(100vw - 96px);
    height: max-content;
    border-radius: 16px;
    font-size: 18px;
    font-family: "Segoe UI Symbol", sans-serif;
}

.false {
    background: #FAA;
    color: #be0000;
    box-shadow: 0 0 2px 0 #0008;
}

.true {
    background: #AEA;
    color: #00a500;
    box-shadow: 0 0 2px 0 #0008;
}

div.block span {
    max-width: 100%;
}

div.block hr {
    border-style: dashed;
}

body {
    font-family: sans-serif
}

#back {
    border-radius: 99px;
    font-family: "Segoe UI Symbol";
    width: 43px;
    float: left;
    margin-left: 10px;
}

#qsframe img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 4px;
    box-shadow: 0 0 2px 0 #0008;
}