html {
    min-height: 100%;
    background: #993344;
    /*background: #FFF;*/
}

h1.title-text1 {
    color: #FFAA50;
    margin: 1px;
    text-wrap: nowrap;
    text-shadow: 2px 1px 0px #000;
}

h1.title-text2 {
    color: #7080FF;
    float: right;
    margin: 1px;
    text-wrap: nowrap;
    text-shadow: 2px 1px 0px #000;
}

.title-framec {
    width: max-content;
}

.title-framep {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    margin: 5%;
    user-select: none;
}

.block {
    background: linear-gradient(-70deg, #FFFFFF9A, #FFE5F080, #FFFFFF8A);
    /*background: linear-gradient(-70deg, #AAAAAA8A 0%, #FFFFFF80 40%, #AAAAAA8A 100%);*/
    border-radius: 17.5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px 0 #222222aa;
    padding: 20px;
    color: #000;
}

button,
input[type="button"] {
    cursor: pointer;
}

button.false-button,
input[type="button"].false-button {
    border-radius: 100px;
    background-color: #C42626CD;
    border: 2px solid #990000;
    color: white;
    padding: 5px;
    text-align: center;
}

button.true-button,
input[type="button"].true-button {
    border-radius: 100px;
    background-color: #1955EFCD;
    border: 2px solid #0933AA;
    color: white;
    padding: 5px;
    text-align: center;
}

:focus-visible {
    outline: 0 !important;
}

#wait {
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

*:disabled {
    opacity: .8 !important;
    filter: contrast(0.5) !important;
    cursor: not-allowed !important;
}